* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

header {
  position: fixed;
  width: 100%;
  background: #020617;
  padding: 15px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.logo span {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

section {
  padding: 100px 50px;
  min-height: 100vh;
}

.home {
  display: flex;
  align-items: center;
}

.home h1 span {
  color: #38bdf8;
}

button {
  padding: 10px 20px;
  border: none;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  margin-top: 15px;
}

.skill-box span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 5px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
  background: #38bdf8;
  color: black;
}

form {
  max-width: 400px;
}

input, textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}